package com.ksptooi.biz.${ptalcn}.model;

import java.time.LocalDateTime;
import com.ksptooi.biz.auth.service.AuthService;
import com.ksptooi.commons.utils.IdWorker;
import jakarta.persistence.*;
import lombok.Getter;
import lombok.Setter;
    #foreach ($import in $imports)
import ${import};
#end

@Getter
@Setter
@Entity
@Table(name = "${ptuln}")
public class ${ptstn}Po {

    #foreach ($field in $fields)
    #if(${field.primaryKey})
    @Column(name = "${field.pfuln}"#if(${field.comment} != ''), comment = "${field.comment}"#end)
    @Id
    private ${field.type} ${field.pfscn};

    #end
    #if(!${field.primaryKey})
    @Column(name = "${field.pfuln}"#if(${field.required} == false), nullable = true#end#if(${field.comment} != ''), comment = "${field.comment}"#end)
    private ${field.type} ${field.pfscn};

    #end
    #end

    @PrePersist
    private void onCreate() {

        #foreach ($field in $fields)
        #if(${field.primaryKey})
        if (this.${field.pfscn} == null) {
            this.${field.pfscn} = IdWorker.nextId();
        }
        #end
        #end
        
        #set($hasCreateTime = false)
        #set($hasUpdateTime = false)
        #set($hasCreatorId = false)
        #set($hasUpdaterId = false)
        #foreach ($field in $fields)
        #if(${field.pfscn} == "createTime")
        #set($hasCreateTime = true)
        #end
        #if(${field.pfscn} == "updateTime")
        #set($hasUpdateTime = true)
        #end
        #if(${field.pfscn} == "creatorId")
        #set($hasCreatorId = true)
        #end
        #if(${field.pfscn} == "updaterId")
        #set($hasUpdaterId = true)
        #end
        #end
        
        #if($hasCreateTime || $hasUpdateTime || $hasCreatorId || $hasUpdaterId)
        LocalDateTime now = LocalDateTime.now();
        #end
        
        #if($hasCreateTime)
        if (this.createTime == null) {
            this.createTime = now;
        }
        #end
        
        #if($hasUpdateTime)
        if (this.updateTime == null) {
            this.updateTime = #if($hasCreateTime)this.createTime#else now#end;
        }
        #end
        
        #if($hasCreatorId)
        if (this.creatorId == null) {
            this.creatorId = AuthService.getCurrentUserId();
        }
        #end
        
        #if($hasUpdaterId)
        if (this.updaterId == null) {
            this.updaterId = AuthService.getCurrentUserId();
        }
        #end
    }

    @PreUpdate
    private void onUpdate() {
        #set($hasUpdateTime = false)
        #set($hasUpdaterId = false)
        #foreach ($field in $fields)
        #if(${field.pfscn} == "updateTime")
        #set($hasUpdateTime = true)
        #end
        #if(${field.pfscn} == "updaterId")
        #set($hasUpdaterId = true)
        #end
        #end
        
        #if($hasUpdateTime)
        this.updateTime = LocalDateTime.now();
        #end
        
        #if($hasUpdaterId)
        if (this.updaterId == null) {
            this.updaterId = AuthService.getCurrentUserId();
        }
        #end
    }
}
