import Http from "@/commons/Http.ts";
import type PageResult from "@/commons/entity/PageResult.ts";
import type CommonIdDto from "@/commons/entity/CommonIdDto.ts";
import type PageQuery from "@/commons/entity/PageQuery.ts";
import type Result from "@/commons/entity/Result.ts";

/**
 * 查询列表DTO
 */
export interface Get${ptstn}ListDto extends PageQuery {
#foreach($field in $fields)
#if(!$field.primaryKey && $field.pfscn != "createTime" && $field.pfscn != "updateTime" && $field.pfscn != "creatorId" && $field.pfscn != "updaterId" && $field.pfscn != "deleteTime")
  ${field.pfscn}?: ${field.type}; // ${field.comment}
#end
#end
}

/**
 * 列表VO
 */
export interface Get${ptstn}ListVo {
#foreach($field in $fields)
  ${field.pfscn}: ${field.type}; // ${field.comment}
#end
}

/**
 * 详情VO
 */
export interface Get${ptstn}DetailsVo {
#foreach($field in $fields)
  ${field.pfscn}: ${field.type}; // ${field.comment}
#end
}

/**
 * 新增DTO
 */
export interface Add${ptstn}Dto {
#foreach($field in $fields)
#if(!$field.primaryKey && $field.pfscn != "createTime" && $field.pfscn != "updateTime" && $field.pfscn != "creatorId" && $field.pfscn != "updaterId" && $field.pfscn != "deleteTime")
  ${field.pfscn}: ${field.type}; // ${field.comment}
#end
#end
}

/**
 * 编辑DTO
 */
export interface Edit${ptstn}Dto {
#foreach($field in $fields)
#if($field.primaryKey)
  ${field.pfscn}: ${field.type}; // ${field.comment}
#elseif($field.pfscn != "createTime" && $field.pfscn != "updateTime" && $field.pfscn != "creatorId" && $field.pfscn != "updaterId" && $field.pfscn != "deleteTime")
  ${field.pfscn}: ${field.type}; // ${field.comment}
#end
#end
}

export default {
  /**
   * 获取${comment}列表
   */
  get${ptstn}List: async (dto: Get${ptstn}ListDto): Promise<PageResult<Get${ptstn}ListVo>> => {
    return await Http.postEntity<PageResult<Get${ptstn}ListVo>>("/${ptscn}/get${ptstn}List", dto);
  },

  /**
   * 获取${comment}详情
   */
  get${ptstn}Details: async (dto: CommonIdDto): Promise<Get${ptstn}DetailsVo> => {
    const result = await Http.postEntity<Result<Get${ptstn}DetailsVo>>("/${ptscn}/get${ptstn}Details", dto);
    if (result.code === 0) {
      return result.data;
    }
    throw new Error(result.message);
  },

  /**
   * 新增${comment}
   */
  add${ptstn}: async (dto: Add${ptstn}Dto): Promise<string> => {
    const result = await Http.postEntity<Result<string>>("/${ptscn}/add${ptstn}", dto);
    if (result.code === 0) {
      return result.message;
    }
    throw new Error(result.message);
  },

  /**
   * 编辑${comment}
   */
  edit${ptstn}: async (dto: Edit${ptstn}Dto): Promise<string> => {
    const result = await Http.postEntity<Result<string>>("/${ptscn}/edit${ptstn}", dto);
    if (result.code === 0) {
      return result.message;
    }
    throw new Error(result.message);
  },

  /**
   * 删除${comment}
   */
  remove${ptstn}: async (dto: CommonIdDto): Promise<string> => {
    const result = await Http.postEntity<Result<string>>("/${ptscn}/remove${ptstn}", dto);
    if (result.code === 0) {
      return result.message;
    }
    throw new Error(result.message);
  },
};
