package com.ksptool.bio.biz.${ptalcn}.controller;

## 引入公用包
import com.ksptool.assembly.entity.web.CommonIdDto;
import com.ksptool.assembly.entity.web.PageResult;
import com.ksptool.assembly.entity.web.Result;

import io.swagger.v3.oas.annotations.tags.Tag;
import io.swagger.v3.oas.annotations.Operation;
import lombok.extern.slf4j.Slf4j;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.web.bind.annotation.*;
import jakarta.validation.Valid;

## 引入专用包
    ${ptalcn}.service.${ptstn}Service;
    ${ptalcn}.model.dto.Add${ptstn}Dto;
    ${ptalcn}.model.dto.Edit${ptstn}Dto;
    ${ptalcn}.model.dto.Get${ptstn}ListDto;
    ${ptalcn}.model.vo.Get${ptstn}ListVo;${ptalcn}.model.vo.Get${ptstn}DetailsVo;


@RestController
@RequestMapping("/${ptscn}")
@Tag(name = "${ptscn}", description = "${comment}")
@Slf4j
public class ${ptstn}Controller {

    @Autowired
    private ${ptstn}Service ${ptscn}Service;

    @PostMapping("/get${ptstn}List")
    @Operation(summary ="列表查询")
    public PageResult<Get${ptstn}ListVo> get${ptstn}List(@RequestBody @Valid Get${ptstn}ListDto dto) throws Exception{
        return ${ptscn}Service.get${ptstn}List(dto);
    }

    @Operation(summary ="新增")
    @PostMapping("/add${ptstn}")
    public Result<String> add${ptstn}(@RequestBody @Valid Add${ptstn}Dto dto) throws Exception{
		${ptscn}Service.add${ptstn}(dto);
        return Result.success("新增成功");
    }

    @Operation(summary ="编辑")
    @PostMapping("/edit${ptstn}")
    public Result<String> edit${ptstn}(@RequestBody @Valid Edit${ptstn}Dto dto) throws Exception{
		${ptscn}Service.edit${ptstn}(dto);
        return Result.success("修改成功");
    }

    @Operation(summary ="查询详情")
    @PostMapping("/get${ptstn}Details")
    public Result<Get${ptstn}DetailsVo> get${ptstn}Details(@RequestBody @Valid CommonIdDto dto) throws Exception{
        Get${ptstn}DetailsVo details = ${ptscn}Service.get${ptstn}Details(dto);
        if(details == null){
            return Result.error("无数据");
        }
        return Result.success(details);
    }

    @Operation(summary ="删除")
    @PostMapping("/remove${ptstn}")
    public Result<String> remove${ptstn}(@RequestBody @Valid CommonIdDto dto) throws Exception{
        ${ptscn}Service.remove${ptstn}(dto);
        return Result.success("操作成功");
    }

}
