## =========================================================
## 模板变量说明 (model.*)
## ---------------------------------------------------------
## ${model.std}        标准化名称        ex: LocalUserAccount
## ${model.camelCase}  小驼峰名称        ex: localUserAccount
## ${model.pascalCase} 大驼峰名称        ex: LocalUserAccount
## ${model.snakeCase}  下划线名称        ex: local_user_account
## ${model.lowerCase}  全小写名称        ex: localuseraccount
## ${model.upperCase}  全大写名称        ex: LOCALUSERACCOUNT
## ${model.tableName}  原始表名          ex: core_user
## ${model.comment}    表注释            ex: 用户
## =========================================================
## 字段变量说明 ($fields 列表中每个 $field.*)
## ---------------------------------------------------------
## ${field.std}        字段标准化名称    ex: LoginCount
## ${field.camelCase}  字段小驼峰名称    ex: loginCount
## ${field.pascalCase} 字段大驼峰名称    ex: LoginCount
## ${field.snakeCase}  字段下划线名称    ex: login_count
## ${field.lowerCase}  字段全小写名称    ex: logincount
## ${field.upperCase}  字段全大写名称    ex: LOGINCOUNT
## ${field.type}       字段Java类型      ex: String / Long / Integer / LocalDateTime
## ${field.length}     字段长度          ex: 80
## ${field.comment}    字段注释          ex: 用户名
## ${field.required}   是否必填          true/false
## ${field.primaryKey} 是否主键          true/false
## ${field.seq}        字段序号          ex: 1
## ${field.listQuery}  是否列表查询条件  true/false
## ${field.listView}   是否列表展示      true/false
## ${field.add}        是否新增字段      true/false
## ${field.edit}       是否编辑字段      true/false
## ${field.details}    是否详情字段      true/false
## =========================================================
package com.ksptool.bio.biz.${model.lowerCase}.repository;

import com.ksptool.bio.biz.${model.lowerCase}.model.${model.std}Po;
import org.springframework.data.jpa.repository.JpaRepository;
import org.springframework.stereotype.Repository;
import org.springframework.data.domain.Page;
import org.springframework.data.domain.Pageable;
import org.springframework.data.jpa.repository.Query;
import org.springframework.data.repository.query.Param;

@Repository
public interface ${model.std}Repository extends JpaRepository<${model.std}Po, Long>{

    @Query("""
    SELECT u FROM ${model.std}Po u
    WHERE
    #set($firstCondition = true)
    #foreach($field in $model.fields)
    #if($field.listQuery && !$field.primaryKey)
    #if($firstCondition)
    (:#{#po.${field.camelCase}} IS NULL OR u.${field.camelCase}#if(${field.type} == 'String') LIKE CONCAT('%', :#{#po.${field.camelCase}}, '%')#else = :#{#po.${field.camelCase}} #end)
    #set($firstCondition = false)
    #else
    AND (:#{#po.${field.camelCase}} IS NULL OR u.${field.camelCase}#if(${field.type} == 'String') LIKE CONCAT('%', :#{#po.${field.camelCase}}, '%')#else = :#{#po.${field.camelCase}} #end)
    #end
    #end
    #end
    ORDER BY u.createTime DESC
    """)
    Page<${model.std}Po> get${model.std}List(@Param("po") ${model.std}Po po, Pageable pageable);
}
