package ${pkgNameMapper};

import ${pkgNamePo}.${classNamePo};
import ${pkgNameVo}.${businessClassName}PageVo;
#*import ${pkgNameDto}.${classNameDto};
import ${pkgNameVo}.${classNameVo};*#
import com.baomidou.mybatisplus.core.metadata.IPage;
import com.baomidou.mybatisplus.extension.plugins.pagination.Page;
import org.apache.ibatis.annotations.Mapper;
import org.apache.ibatis.annotations.Param;
import com.baomidou.mybatisplus.core.mapper.BaseMapper;
import java.util.List;

/**
* ${comments}
*
* @author ${author}
* @date ${datetime}
*/

@Mapper
public interface ${classNameMapper} extends BaseMapper<${classNamePo}>{

    long count(@Param("val") ${classNamePo} po);

    Page<${businessClassName}PageVo> get${businessClassName}Page(IPage<${businessClassName}PageVo> page,@Param("val") ${classNamePo} val);

    int removeByIds(@Param("val")List<Long> val);

    int insertBatch(@Param("pos")List<${classNamePo}> pos);

    #foreach ($field in $fields)
    #if(${field.primary})
    int removeBy${field.javaGetterName}(@Param("val")${field.javaType} val);

    ${classNamePo} getBy${field.javaGetterName}(@Param("val")${field.javaType} val);

    List<${classNamePo}> getBy${field.javaGetterName}s(@Param("val")List<${field.javaType}> val);
    #*int updateBy${field.javaGetterName}(@Param("val")${classNamePo} val);*#
    #end
    #end
}