package com.ksptooi.biz.${ptalcn}.repository;

import com.ksptooi.biz.${ptalcn}.model.${ptstn}Po;
import org.springframework.data.jpa.repository.JpaRepository;
import org.springframework.stereotype.Repository;
import org.springframework.data.domain.Page;
import org.springframework.data.domain.Pageable;
import org.springframework.data.jpa.repository.Query;
import org.springframework.data.repository.query.Param;

@Repository
public interface ${ptstn}Repository extends JpaRepository<${ptstn}Po, Long>{

    @Query("""
    SELECT u FROM ${ptstn}Po u
    WHERE
#foreach($field in $fields)
    #if($foreach.first)
    (:#{#po.${field.pfscn}} IS NULL OR u.${field.pfscn} #if(${field.type} == 'String') LIKE CONCAT('%', :#{#po.${field.pfscn}}, '%') #else = :#{#po.${field.pfscn}} #end)
    #else
    AND (:#{#po.${field.pfscn}} IS NULL OR u.${field.pfscn} #if(${field.type} == 'String') LIKE CONCAT('%', :#{#po.${field.pfscn}}, '%') #else = :#{#po.${field.pfscn}} #end)
    #end
#end
    ORDER BY u.updateTime DESC
    """)
    Page<${ptstn}Po> get${ptstn}List(@Param("po") ${ptstn}Po po, Pageable pageable);
}
