package com.ksptool.bio.biz.${ptalcn}.service;

## 引入公用包
import com.ksptool.assembly.entity.web.PageResult;
import com.ksptool.assembly.entity.web.CommonIdDto;
import com.ksptool.assembly.entity.exception.BizException;
import static com.ksptool.entities.Entities.as;
import static com.ksptool.entities.Entities.assign;
## 引入三方库包
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Service;
import java.util.List;
import org.springframework.transaction.annotation.Transactional;
import org.springframework.data.domain.PageRequest;
import org.springframework.data.domain.Page;
import java.util.Optional;
## 引入专用包
import com.ksptool.bio.biz.${ptalcn}.repository.${ptstn}Repository;
import com.ksptool.bio.biz.${ptalcn}.model.${ptstn}Po;
import com.ksptool.bio.biz.${ptalcn}.model.vo.Get${ptstn}ListVo;
import com.ksptool.bio.biz.${ptalcn}.model.dto.Get${ptstn}ListDto;
import com.ksptool.bio.biz.${ptalcn}.model.vo.Get${ptstn}DetailsVo;
import com.ksptool.bio.biz.${ptalcn}.model.dto.Edit${ptstn}Dto;
import com.ksptool.bio.biz.${ptalcn}.model.dto.Add${ptstn}Dto;


@Service
public class ${ptstn}Service {

    @Autowired
    private ${ptstn}Repository repository;

    public PageResult<Get${ptstn}ListVo> get${ptstn}List(Get${ptstn}ListDto dto){
        ${ptstn}Po query = new ${ptstn}Po();
        assign(dto,query);

        Page<${ptstn}Po> page = repository.get${ptstn}List(query, dto.pageRequest());
        if (page.isEmpty()) {
            return PageResult.successWithEmpty();
        }

        List<Get${ptstn}ListVo> vos = as(page.getContent(), Get${ptstn}ListVo.class);
        return PageResult.success(vos, (int) page.getTotalElements());
    }

    @Transactional(rollbackFor = Exception.class)
    public void add${ptstn}(Add${ptstn}Dto dto){
        ${ptstn}Po insertPo = as(dto,${ptstn}Po.class);
        repository.save(insertPo);
    }

    @Transactional(rollbackFor = Exception.class)
    public void edit${ptstn}(Edit${ptstn}Dto dto) throws BizException {
        ${ptstn}Po updatePo = repository.findById(dto.getId())
            .orElseThrow(()-> new BizException("更新失败,数据不存在或无权限访问."));

        assign(dto,updatePo);
        repository.save(updatePo);
    }

    public Get${ptstn}DetailsVo get${ptstn}Details(CommonIdDto dto) throws BizException {
        ${ptstn}Po po = repository.findById(dto.getId())
            .orElseThrow(()-> new BizException("查询详情失败,数据不存在或无权限访问."));
        return as(po,Get${ptstn}DetailsVo.class);
    }

    @Transactional(rollbackFor = Exception.class)
    public void remove${ptstn}(CommonIdDto dto) throws BizException {
        if (dto.isBatch()) {
            repository.deleteAllById(dto.getIds());
            return;
        }
        repository.deleteById(dto.getId());
    }

}