package ${pkgNameMapper};

import com.baodian.commons.utils.PageCalculator;
import ${pkgNamePo}.${classNamePo};
#*import ${pkgNameDto}.${classNameDto};
import ${pkgNameVo}.${classNameVo};*#
import java.util.List;
import org.apache.ibatis.annotations.Mapper;
import org.apache.ibatis.annotations.Param;
import com.baomidou.mybatisplus.core.mapper.BaseMapper;

@Mapper
public interface ${classNameMapper} extends BaseMapper<${classNamePo}>{

    long count(@Param("val") ${classNamePo} po);

    List<${classNamePo}> getList(@Param("val") ${classNamePo} val,@Param("pageCalculator")PageCalculator pageCalculator);

    int removeByIds(@Param("val")List<Long> val);

    int insertBatch(@Param("pos")List<${classNamePo}> pos);

    #foreach ($field in $fields)
    #if(${field.primary})
    int removeBy${field.javaGetterName}(@Param("val")${field.javaType} val);

    ${classNamePo} getBy${field.javaGetterName}(@Param("val")${field.javaType} val);

    List<${classNamePo}> getBy${field.javaGetterName}s(@Param("val")List<${field.javaType}> val);
    #*int updateBy${field.javaGetterName}(@Param("val")${classNamePo} val);*#
    #end
    #end
}