### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
!.vscode/settings.json
.vscode/*

### Mac OS ###
.DS_Store

### Logs ###
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

### Node ###
**/node_modules/**
.DS_Store/
**/dist/**
dist-ssr
coverage
*.local

### BUILD ###
targer/
**/target/**

### DESIGN ###
T*.pdma.json

### EDITOR ###
**/.idea/**
**/.cursor/**
**/.vscode/**
**/.antigravity/**

### SERVICE ###
projector.map.json

### VIEWS ###
**/node/**
components.d.ts
