<!-- Logback configuration. See http://logback.qos.ch/manual/index.html -->
<configuration debug="false" scan="true"
	scanPeriod="10 seconds">


	<appender name="STDOUT"
		class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36}:%line - %msg%n
			</Pattern>
		</encoder>
	</appender>

	<logger name="org.apache.velocity" level="OFF"/>

	<root level="INFO">
		<appender-ref ref="STDOUT" />
	</root>

	<!-- 禁用Logback内部日志 -->
	<statusListener class="ch.qos.logback.core.status.NopStatusListener"/>

</configuration>