package com.ksptool.bio.biz.${ptalcn}.model.dto;

import java.time.LocalDate;
import java.time.LocalDateTime;

import jakarta.validation.constraints.NotBlank;
import jakarta.validation.constraints.NotNull;
import lombok.Getter;
import lombok.Setter;
import io.swagger.v3.oas.annotations.media.Schema;
#foreach ($import in $imports)
import ${import};
#end

@Getter
@Setter
public class Add${ptstn}Dto {

    #foreach ($field in $fields)

        #if(${field.omp_add})##只有omp_add=true的字段才放到GetXXXXListDto中
            #if(${field.omp_require} == 1 && ${field.omp_require} == "String")##如果是必填String 加注解
    @NotBlank(message = "${field.comment}不能为空")
            #end
            #if(${field.omp_require} == 1 && ${field.omp_require} == "Long")##如果是必填Long 加注解
    @NotNull(message = "${field.comment}不能为空")
            #end
            #if(${field.omp_require} == 1 && ${field.omp_require} == "LocalDateTime")##如果是必填LDT 加注解
    @NotNull(message = "${field.comment}不能为空")
            #end
            #if(${field.omp_require} == 1 && ${field.omp_require} == "LocalDate")##如果是必填LD 加注解
    @NotNull(message = "${field.comment}不能为空")
            #end
            #if(${field.comment} != "")##如果有注释就增加Swagger注解
    @Schema(description="${field.comment}")
            #end
    private ${field.type} ${field.pfscn};
        #end
    #end

}

