package com.ksptool.bio.biz.${ptalcn}.model.dto;

import java.time.LocalDate;
import java.time.LocalDateTime;
import com.ksptool.assembly.entity.web.PageQuery;
import io.swagger.v3.oas.annotations.media.Schema;
import lombok.Getter;
import lombok.Setter;
#foreach ($import in $imports)
import ${import};
#end

@Getter
@Setter
public class Get${ptstn}ListDto extends PageQuery {

    #foreach ($field in $fields)
        #if(${field.omp_lq})##只有omp_lq=true的字段才允许查询

            #if(${field.comment} != "")##如果有注释就增加Swagger注解
    @Schema(description="${field.comment}")
            #end
    private ${field.type} ${field.pfscn};
        #end
    #end
}

