// 只需要重写你需要的即可
@forward "element-plus/theme-chalk/src/common/var.scss" with (
  $colors: (
    "primary": (
      "base": #009688,
    ),
    "success": (
      "base": #00a8be,
    ),
    "warning": (
      "base": #ffc107,
    ),
    "danger": (
      "base": #f44336,
    ),
    "info": (
      "base": #9c27b0,
    ),
  )
);

// 如果只想重写某一个组件的样式
//@forward 'element-plus/theme-chalk/src/button/var.scss' with (
//  $button: (
//    'font-weight': 'bolder'
//  )
//);

@use "element-plus/theme-chalk/src/index.scss";

/* 全局自定义 Element Plus v-loading 样式 */
.el-loading-mask {
  background-color: rgba(255, 255, 255, 0.8) !important;
}

.el-loading-spinner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.el-loading-spinner .circular {
  display: none !important;
}

.el-loading-spinner::before {
  content: "";
  display: block;
  width: 40px;
  height: 40px;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24"><g fill="none" stroke="%2300a8be" stroke-linecap="round" stroke-width="2"><path stroke-dasharray="2 4" stroke-dashoffset="6" d="M12 3C16.9706 3 21 7.02944 21 12C21 16.9706 16.9706 21 12 21"><animate attributeName="stroke-dashoffset" dur="0.6s" repeatCount="indefinite" values="6;0"/></path><path stroke-dasharray="30" stroke-dashoffset="30" d="M12 21C7.02944 21 3 16.9706 3 12C3 7.02944 7.02944 3 12 3"><animate fill="freeze" attributeName="stroke-dashoffset" begin="0.1s" dur="0.3s" values="30;0"/></path><path stroke-dasharray="10" stroke-dashoffset="10" d="M12 8v7.5"><animate fill="freeze" attributeName="stroke-dashoffset" begin="0.5s" dur="0.2s" values="10;0"/></path><path stroke-dasharray="6" stroke-dashoffset="6" d="M12 15.5l3.5 -3.5M12 15.5l-3.5 -3.5"><animate fill="freeze" attributeName="stroke-dashoffset" begin="0.7s" dur="0.2s" values="6;0"/></path></g></svg>');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.el-loading-spinner .el-loading-text {
  margin-top: 16px;
  color: #495057;
  font-size: 14px;
  user-select: none;
}
