package com.ksptool.bio.biz.${lowerCase}.model.dto;

## 预先导入LDT、BigDecimal、List等类型
import java.time.LocalDateTime;
import java.math.BigDecimal;
import java.util.List;
import java.util.Map;
import lombok.Getter;
import lombok.Setter;
import io.swagger.v3.oas.annotations.media.Schema;

@Getter
@Setter
public class Add${std}Dto {

    #foreach ($field in $fields)
    #if(!$field.primaryKey && $field.add)
    @Schema(description="${field.comment}")
    private ${field.type} ${field.camelCase};

    #end
    #end
}
