package com.ksptool.bio.biz.${model.lowerCase}.model.dto;

import java.time.LocalDateTime;
import java.math.BigDecimal;
import java.util.List;
import java.util.Map;
import lombok.Getter;
import lombok.Setter;
import io.swagger.v3.oas.annotations.media.Schema;

@Getter
@Setter
public class Add${model.std}Dto {

    ## 遍历 add=true 且非主键的字段生成属性
    #foreach ($field in $model.fields)
    #if(!$field.primaryKey && $field.add)
    @Schema(description="${field.comment}")
    private ${field.type} ${field.camelCase};

    #end
    #end
}
