package com.ksptool.bio.biz.${model.lowerCase}.model.dto;

import java.time.LocalDateTime;
import java.math.BigDecimal;
import java.util.List;
import java.util.Map;
import com.ksptool.assembly.entity.web.PageQuery;
import io.swagger.v3.oas.annotations.media.Schema;
import lombok.Getter;
import lombok.Setter;

@Getter
@Setter
public class Get${model.std}ListDto extends PageQuery {

    #foreach ($field in $model.fields)
    #if($field.listQuery && !$field.primaryKey)
    @Schema(description="${field.comment}")
    private ${field.type} ${field.camelCase};

    #end
    #end
}
