package com.ksptool.bio.biz.${lowerCase}.controller;

## 引入公用包
import com.ksptool.assembly.entity.web.CommonIdDto;
import com.ksptool.assembly.entity.web.PageResult;
import com.ksptool.assembly.entity.web.Result;

import io.swagger.v3.oas.annotations.tags.Tag;
import io.swagger.v3.oas.annotations.Operation;
import lombok.extern.slf4j.Slf4j;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.web.bind.annotation.*;
import jakarta.validation.Valid;

## 引入专用包
import com.ksptool.bio.biz.${lowerCase}.service.${std}Service;
import com.ksptool.bio.biz.${lowerCase}.model.dto.Add${std}Dto;
import com.ksptool.bio.biz.${lowerCase}.model.dto.Edit${std}Dto;
import com.ksptool.bio.biz.${lowerCase}.model.dto.Get${std}ListDto;
import com.ksptool.bio.biz.${lowerCase}.model.vo.Get${std}ListVo;
import com.ksptool.bio.biz.${lowerCase}.model.vo.Get${std}DetailsVo;
## std; //标准化名称 ex: LocalUserAccount
## camelCase; //小驼峰名称 ex: localUserAccount
## pascalCase; //大驼峰名称 ex: LocalUserAccount
## snakeCase; //下划线名称 ex: local_user_account
## lowerCase; //全小写名称 ex: localuseraccount
## upperCase; //全大写名称 ex: LOCALUSERACCOUNT

@RestController
@RequestMapping("/${camelCase}")
@Tag(name = "${comment}", description = "${comment}")
@Slf4j
public class ${std}Controller {

    @Autowired
    private ${std}Service ${camelCase}Service;

    @PostMapping("/get${std}List")
    @Operation(summary ="列表查询")
    public PageResult<Get${std}ListVo> get${std}List(@RequestBody @Valid Get${std}ListDto dto) throws Exception{
        return ${camelCase}Service.get${std}List(dto);
    }

    @Operation(summary ="新增")
    @PostMapping("/add${std}")
    public Result<String> add${std}(@RequestBody @Valid Add${std}Dto dto) throws Exception{
		${camelCase}Service.add${std}(dto);
        return Result.success("新增成功");
    }

    @Operation(summary ="编辑")
    @PostMapping("/edit${std}")
    public Result<String> edit${std}(@RequestBody @Valid Edit${std}Dto dto) throws Exception{
		${camelCase}Service.edit${std}(dto);
        return Result.success("修改成功");
    }

    @Operation(summary ="查询详情")
    @PostMapping("/get${std}Details")
    public Result<Get${std}DetailsVo> get${std}Details(@RequestBody @Valid CommonIdDto dto) throws Exception{
        Get${std}DetailsVo details = ${camelCase}Service.get${std}Details(dto);
        if(details == null){
            return Result.error("无数据");
        }
        return Result.success(details);
    }

    @Operation(summary ="删除")
    @PostMapping("/remove${std}")
    public Result<String> remove${std}(@RequestBody @Valid CommonIdDto dto) throws Exception{
        ${camelCase}Service.remove${std}(dto);
        return Result.success("操作成功");
    }

}
