package com.ksptool.bio.biz.${model.lowerCase}.controller;

## 引入公用包
import com.ksptool.assembly.entity.web.CommonIdDto;
import com.ksptool.assembly.entity.web.PageResult;
import com.ksptool.assembly.entity.web.Result;

import io.swagger.v3.oas.annotations.tags.Tag;
import io.swagger.v3.oas.annotations.Operation;
import lombok.extern.slf4j.Slf4j;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.web.bind.annotation.*;
import jakarta.validation.Valid;
import org.springframework.security.access.prepost.PreAuthorize;
import com.ksptool.bio.commons.annotation.PrintLog;

## 引入专用包
import com.ksptool.bio.biz.${model.lowerCase}.service.${model.std}Service;
import com.ksptool.bio.biz.${model.lowerCase}.model.dto.Add${model.std}Dto;
import com.ksptool.bio.biz.${model.lowerCase}.model.dto.Edit${model.std}Dto;
import com.ksptool.bio.biz.${model.lowerCase}.model.dto.Get${model.std}ListDto;
import com.ksptool.bio.biz.${model.lowerCase}.model.vo.Get${model.std}ListVo;
import com.ksptool.bio.biz.${model.lowerCase}.model.vo.Get${model.std}DetailsVo;
## std; //标准化名称 ex: LocalUserAccount
## camelCase; //小驼峰名称 ex: localUserAccount
## pascalCase; //大驼峰名称 ex: LocalUserAccount
## snakeCase; //下划线名称 ex: local_user_account
## lowerCase; //全小写名称 ex: localuseraccount
## upperCase; //全大写名称 ex: LOCALUSERACCOUNT

@PrintLog
@RestController
@RequestMapping("/${model.camelCase}")
@Tag(name = "${schema.modelRemark}", description = "${schema.modelRemark}")
@Slf4j
public class ${model.std}Controller {

    @Autowired
    private ${model.std}Service ${model.camelCase}Service;

    @PreAuthorize("@auth.hasCode('${schema.permCodePrefix}:view')")
    @PostMapping("/get${model.std}List")
    @Operation(summary ="查询#{schema.modelRemark}列表")
    public PageResult<Get${model.std}ListVo> get${model.std}List(@RequestBody @Valid Get${model.std}ListDto dto) throws Exception{
        return ${model.camelCase}Service.get${model.std}List(dto);
    }

    @PreAuthorize("@auth.hasCode('${schema.permCodePrefix}:add')")
    @Operation(summary ="新增#{schema.modelRemark}")
    @PostMapping("/add${model.std}")
    public Result<String> add${model.std}(@RequestBody @Valid Add${model.std}Dto dto) throws Exception{
		${model.camelCase}Service.add${model.std}(dto);
        return Result.success("新增成功");
    }

    @PreAuthorize("@auth.hasCode('${schema.permCodePrefix}:edit')")
    @Operation(summary ="编辑#{schema.modelRemark}")
    @PostMapping("/edit${model.std}")
    public Result<String> edit${model.std}(@RequestBody @Valid Edit${model.std}Dto dto) throws Exception{
		${model.camelCase}Service.edit${model.std}(dto);
        return Result.success("修改成功");
    }

    @PreAuthorize("@auth.hasCode('${schema.permCodePrefix}:view')")
    @Operation(summary ="查询#{schema.modelRemark}详情")
    @PostMapping("/get${model.std}Details")
    public Result<Get${model.std}DetailsVo> get${model.std}Details(@RequestBody @Valid CommonIdDto dto) throws Exception{
        Get${model.std}DetailsVo details = ${model.camelCase}Service.get${model.std}Details(dto);
        if(details == null){
            return Result.error("无数据");
        }
        return Result.success(details);
    }

    @PreAuthorize("@auth.hasCode('${schema.permCodePrefix}:remove')")
    @Operation(summary ="删除#{schema.modelRemark}")
    @PostMapping("/remove${model.std}")
    public Result<String> remove${model.std}(@RequestBody @Valid CommonIdDto dto) throws Exception{
        ${model.camelCase}Service.remove${model.std}(dto);
        return Result.success("操作成功");
    }

}
