
#set ($pk = "")
#if($primary.size() > 0)
    #foreach($i in $primary)
        #if($foreach.last)
            #set ($pk = $pk + "`${i}`")
        #end
        #if(!$foreach.last)
            #set ($pk = $pk + "`${i}`,")
        #end
    #end
#end


CREATE TABLE `${tableName}` (
#foreach ($field in $fields)
    #set ($length = "")
    #if($field.length > 0 && $field.decimals > 0)
        #set ($length = "(${field.length},${field.decimals})")
    #end
    #if($field.length > 0 && $field.decimals < 0)
        #set ($length = "(${field.length})")
    #end
`${field.name}` ${field.type}$length DEFAULT NULL COMMENT '${field.comment}'#if(!$foreach.last),#end#if($foreach.last && $primary.size() > 0),#end
    #if($foreach.last)
        #if($primary.size() > 0)
PRIMARY KEY (${pk})
        #end
    #end
#end
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;