package com.ksptooi.biz.${ptalcn}.model.vo;

import java.time.LocalDate;
import java.time.LocalDateTime;
import lombok.Getter;
import lombok.Setter;
import io.swagger.v3.oas.annotations.media.Schema;
#foreach ($import in $imports)
import ${import};
#end

@Getter
@Setter
public class Get${ptstn}ListVo{
    #foreach ($field in $fields)

    #if(${field.comment} != "")
    @Schema(description="${field.comment}")
    #end
    private ${field.type} ${field.pfscn};
    #end

}

