package com.ksptool.bio.biz.${model.lowerCase}.service;

## 引入公用包
import com.ksptool.assembly.entity.web.PageResult;
import com.ksptool.assembly.entity.web.CommonIdDto;
import com.ksptool.assembly.entity.exception.BizException;
import static com.ksptool.entities.Entities.as;
import static com.ksptool.entities.Entities.assign;
## 引入三方库包
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Service;
import java.util.List;
import org.springframework.transaction.annotation.Transactional;
import org.springframework.data.domain.PageRequest;
import org.springframework.data.domain.Page;
import java.util.Optional;
## 引入专用包
import com.ksptool.bio.biz.${model.lowerCase}.repository.${model.std}Repository;
import com.ksptool.bio.biz.${model.lowerCase}.model.${model.std}Po;
import com.ksptool.bio.biz.${model.lowerCase}.model.vo.Get${model.std}ListVo;
import com.ksptool.bio.biz.${model.lowerCase}.model.dto.Get${model.std}ListDto;
import com.ksptool.bio.biz.${model.lowerCase}.model.vo.Get${model.std}DetailsVo;
import com.ksptool.bio.biz.${model.lowerCase}.model.dto.Edit${model.std}Dto;
import com.ksptool.bio.biz.${model.lowerCase}.model.dto.Add${model.std}Dto;


@Service
public class ${model.std}Service {

    @Autowired
    private ${model.std}Repository repository;

    public PageResult<Get${model.std}ListVo> get${model.std}List(Get${model.std}ListDto dto){
        ${model.std}Po query = new ${model.std}Po();
        assign(dto,query);

        Page<${model.std}Po> page = repository.get${model.std}List(query, dto.pageRequest());
        if (page.isEmpty()) {
            return PageResult.successWithEmpty();
        }

        List<Get${model.std}ListVo> vos = as(page.getContent(), Get${model.std}ListVo.class);
        return PageResult.success(vos, (int) page.getTotalElements());
    }

    @Transactional(rollbackFor = Exception.class)
    public void add${model.std}(Add${model.std}Dto dto){
        ${model.std}Po insertPo = as(dto,${model.std}Po.class);
        repository.save(insertPo);
    }

    @Transactional(rollbackFor = Exception.class)
    public void edit${model.std}(Edit${model.std}Dto dto) throws BizException {
        ${model.std}Po updatePo = repository.findById(dto.getId())
            .orElseThrow(()-> new BizException("更新失败,数据不存在或无权限访问."));

        assign(dto,updatePo);
        repository.save(updatePo);
    }

    public Get${model.std}DetailsVo get${model.std}Details(CommonIdDto dto) throws BizException {
        ${model.std}Po po = repository.findById(dto.getId())
            .orElseThrow(()-> new BizException("查询详情失败,数据不存在或无权限访问."));
        return as(po,Get${model.std}DetailsVo.class);
    }

    @Transactional(rollbackFor = Exception.class)
    public void remove${model.std}(CommonIdDto dto) throws BizException {
        if (dto.isBatch()) {
            repository.deleteAllById(dto.getIds());
            return;
        }
        repository.deleteById(dto.getId());
    }

}
