package com.ksptool.bio.biz.${lowerCase}.service;

## 引入公用包
import com.ksptool.assembly.entity.web.PageResult;
import com.ksptool.assembly.entity.web.CommonIdDto;
import com.ksptool.assembly.entity.exception.BizException;
import static com.ksptool.entities.Entities.as;
import static com.ksptool.entities.Entities.assign;
## 引入三方库包
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Service;
import java.util.List;
import org.springframework.transaction.annotation.Transactional;
import org.springframework.data.domain.PageRequest;
import org.springframework.data.domain.Page;
import java.util.Optional;
## 引入专用包
import com.ksptool.bio.biz.${lowerCase}.repository.${std}Repository;
import com.ksptool.bio.biz.${lowerCase}.model.${std}Po;
import com.ksptool.bio.biz.${lowerCase}.model.vo.Get${std}ListVo;
import com.ksptool.bio.biz.${lowerCase}.model.dto.Get${std}ListDto;
import com.ksptool.bio.biz.${lowerCase}.model.vo.Get${std}DetailsVo;
import com.ksptool.bio.biz.${lowerCase}.model.dto.Edit${std}Dto;
import com.ksptool.bio.biz.${lowerCase}.model.dto.Add${std}Dto;


@Service
public class ${std}Service {

    @Autowired
    private ${std}Repository repository;

    public PageResult<Get${std}ListVo> get${std}List(Get${std}ListDto dto){
        ${std}Po query = new ${std}Po();
        assign(dto,query);

        Page<${std}Po> page = repository.get${std}List(query, dto.pageRequest());
        if (page.isEmpty()) {
            return PageResult.successWithEmpty();
        }

        List<Get${std}ListVo> vos = as(page.getContent(), Get${std}ListVo.class);
        return PageResult.success(vos, (int) page.getTotalElements());
    }

    @Transactional(rollbackFor = Exception.class)
    public void add${std}(Add${std}Dto dto){
        ${std}Po insertPo = as(dto,${std}Po.class);
        repository.save(insertPo);
    }

    @Transactional(rollbackFor = Exception.class)
    public void edit${std}(Edit${std}Dto dto) throws BizException {
        ${std}Po updatePo = repository.findById(dto.getId())
            .orElseThrow(()-> new BizException("更新失败,数据不存在或无权限访问."));

        assign(dto,updatePo);
        repository.save(updatePo);
    }

    public Get${std}DetailsVo get${std}Details(CommonIdDto dto) throws BizException {
        ${std}Po po = repository.findById(dto.getId())
            .orElseThrow(()-> new BizException("查询详情失败,数据不存在或无权限访问."));
        return as(po,Get${std}DetailsVo.class);
    }

    @Transactional(rollbackFor = Exception.class)
    public void remove${std}(CommonIdDto dto) throws BizException {
        if (dto.isBatch()) {
            repository.deleteAllById(dto.getIds());
            return;
        }
        repository.deleteById(dto.getId());
    }

}