package com.ksptool.bio.biz.${ptalcn}.model.vo;

import java.time.LocalDate;
import java.time.LocalDateTime;
import lombok.Getter;
import lombok.Setter;
import io.swagger.v3.oas.annotations.media.Schema;
#foreach ($import in $imports)
import ${import};
#end

@Getter
@Setter
public class Get${ptstn}ListVo{

    #foreach ($field in $fields)

        #if(${field.omp_lv})##只有omp_lv=true的字段才允许列表显示
            #if(${field.comment} != "")##如果有注释就增加Swagger注解
    @Schema(description="${field.comment}")
            #end
    private ${field.type} ${field.pfscn};
        #end
    #end
}

